<!Doctype html>
<html lang="ko">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>

        <!-- 구글폰트 -->
        <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">


        <title>SW사관학교 정글 | WEEK0: EQUALIZER </title>

        <!-- style -->
        <style type="text/css">
            * {
                font-family: "Stylish", sans-serif;
            }

            h1{
                text-align: center;
            }

            .wrap {
                width: 900px;
                margin: auto;
            }

            .input_box
            {
                width: 30px;
            }

            .play_button{
                width: 200px;
                margin: auto;
                margin-bottom: 10px;
            }

            .save_button
            {
                width: 100px;
                margin: auto;
            }
            .volumes
            {
                width: 500px;
                margin: auto;
                margin-bottom: 50px;
            }

            .Row {
                display: table;
                table-layout: fixed; /*Optional*/
                border-spacing: 10px; /*Optional*/
            }
            .Column {
                display: table-cell;
            }
        </style>
        <script>
            $(document).ready(function () {
            });


            var audio1 = new Audio('../static/m1.mp3');
            var audio2 = new Audio('../static/m2.mp3');
            var audio3 = new Audio('../static/m3.mp3');
            var audio4 = new Audio('../static/m4.mp3');



            function play(){
                audio1.play();
                audio2.play();
                audio3.play();
                audio4.play();
            }

            function pause(){
                audio1.pause();
                audio2.pause();
                audio3.pause();
                audio4.pause();
            }

            function replay(){

                audio1.currentTime = 0;
                audio2.currentTime = 0;
                audio3.currentTime = 0;
                audio4.currentTime = 0;

                audio1.play();
                audio2.play();
                audio3.play();
                audio4.play();
            }

            function stop(){
                audio1.pause();
                audio2.pause();
                audio3.pause();
                audio4.pause();

                audio1.currentTime = 0;
                audio2.currentTime = 0;
                audio3.currentTime = 0;
                audio4.currentTime = 0;
            }

            function volUp(audio_num,vol_num){
                _vol_num = "#"+vol_num;
                console.log('volume up');
                console.log(audio_num.volume);
                if(audio_num.volume > 0.9){
                    audio_num.volume = 1;
                    $(_vol_num).attr('placeholder',1);
                }
                else{
                    audio_num.volume += 0.1;
                    $(_vol_num).attr('placeholder',audio_num.volume - audio_num.volume % 0.1);
                }

            }

            function volDown(audio_num, vol_num){
                _vol_num = "#"+vol_num;
                console.log('volume down');
                console.log(audio_num.volume);
                audio_num.volume -= 0.1;
                if(audio_num.volume < 0.1){
                    audio_num.volume = 0;
                }
                $(_vol_num).attr('placeholder',audio_num.volume);

            }


        </script>

    </head>

    <body>
        <div class="wrap">

            <h1> Volume Control Panel</h1>

            <div>
                <div class = "volumes Row">

                    <div class="form-group Column" >
                        <div>
                            보컬
                        </div>
                        <input id="vol1" class="input_box" disabled placeholder="1">
                        <div id="sound1" class="btn-group-vertical">
                            <button type="button" class="btn btn-secondary" onclick="volUp(audio1,'vol1')"> △ </button>
                            <button type="button" class="btn btn-secondary" onclick="volDown(audio1,'vol1')"> ▽ </button>
                        </div>
                    </div>

                    <div class="form-group Column">
                        <div>
                            피아노
                        </div>
                        <input id="vol2" class="input_box" disabled placeholder="1">
                        <div id="sound2" class="btn-group-vertical">
                            <button type="button" class="btn btn-secondary" onclick="volUp(audio2,'vol2')"> △ </button>
                            <button type="button" class="btn btn-secondary" onclick="volDown(audio2,'vol2')"> ▽ </button>
                        </div>
                    </div>

                    <div class="form-group Column">
                        <div>
                            베이스
                        </div>
                        <input id="vol3" class="input_box" disabled placeholder="1">
                        <div id="sound3" class="btn-group-vertical">
                            <button type="button" class="btn btn-secondary" onclick="volUp(audio3,'vol3')"> △ </button>
                            <button type="button" class="btn btn-secondary" onclick="volDown(audio3,'vol3')"> ▽ </button>
                        </div>
                    </div>

                    <div class="form-group Column">
                        <div>
                            드럼
                        </div>
                        <input id="vol4" class="input_box" disabled placeholder="1">
                        <div id="sound4" class="btn-group-vertical">
                            <button type="button" class="btn btn-secondary" onclick="volUp(audio4,'vol4')"> △ </button>
                            <button type="button" class="btn btn-secondary" onclick="volDown(audio4,'vol4')"> ▽ </button>
                        </div>
                    </div>

                </div>
            </div>


            <div class="play_button">
                <button type="button" class="btn btn-primary" onclick="replay()"> << </button>
                <button type="button" class="btn btn-primary" onclick="play()"> > </button>
                <button type="button" class="btn btn-primary" onclick="pause()"> || </button>
                <button type="button" class="btn btn-primary" onclick="stop()"> ■ </button>
            </div>

            <div class="save_button">
                <button type="button" class="btn btn-primary" onclick="postMemo()">저장하기</button>
            </div>




        </div>

    </body>

</html>